@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
}
.watch{
  color: #FCDC4D;
  margin-right: 6px;
}
.options{
  color: #86BBBD;
  margin: 15px;
}
.showList{
  overflow-x: auto; 
}
.imageShow{
  width: 215px;
  height: 295px;
}
.card-container {
  display: flex; 
  justify-content: center;
  flex-direction: row; 
  text-decoration: none; 
}

input[type=radio]{
  display: none;
}
.popCorn {
  cursor: pointer;
}

.hover-icon {
  fill: #FCDC4D;
}

.active-icon {
  fill: #FCDC4D;
}

.inactive-icon {
  fill: #0E3B43;
}

.RecordButton{
  background-color: #FCDC4D;
  
}

#mobile-menu-2{
  margin-right: 140px;
}

.delete:hover{
  color:red;
}

.delete{
  color:#86BBBD;
}